{% extends 'base.html' %}
{% block content %}
{% load static %}

<br><br>

  <!-- About Section-->
  <section  class="page-section portfolio" id="portfolio" style="background-color: white !important;">
    <div class="container"> 
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-md-0">Blog</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-dark">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div>
            <div style="font-weight: 400;" class="yo" class="col-lg-4 ml-auto"><h3 style="width: 75%; text-align: center;" class="lead">Blog is <strong>Coming Soon</strong>. For any discussion, please <a href="/contact" >contact</a> me.</h3>
            <!-- <div class="row">
            <div class="col-lg-4 mr-auto"><p class="lead">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p></div>
            <div class="col-lg-4 mr-auto"><p class="lead">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p></div>
         </div> -->
        </div>
        <!-- About Section Button-->
        <!-- <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-dark" href="#!">
                <i class="fas fa-download mr-2"></i>
                Resume
            </a>
        </div> -->
    </div>
</section>
{% endblock %}